<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_login.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style_main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_date.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <title>{{title}}</title>
</head>
<body>
<header>
    <nav class="navbar navbar-light" style="background: linear-gradient(to right, #666666, #111111);">
        {% if current_user.is_authenticated %}
    <a class="navbar-brand" href="/logout">Выход</a>
    <a class="btn btn-dark " href="/profile">Профиль</a>
    <a class="btn btn-dark " href="/calories">Ввести калории</a>

{% else %}
    <p>
        <a class="btn btn-dark " href="/register">Зарегистрироваться</a>
        <a class="btn btn-dark" href="/login">Войти</a>
        <a class="btn btn-dark " href="/">На главную</a>
    </p>
{% endif %}
    </nav>
</header>
<!-- Begin page content -->
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
</body>
</html>