{% extends "base.html" %}

{% block content %}

<div class="hed">
    <br>
    <img src="{{ url_for('static', filename='sledite.png') }}"></div>
<div class="vmeste">
    <img src="{{ url_for('static', filename='vmeste.png') }}">
</div>
    <br>
<div class="infoca">
    <font size="4"><b>Как посчитать калории: пошаговая инструкция</b></font>
<br><br>
    <b>Шаг 1.</b> Найдите нужное блюдо.<br>
Введите интересующий вас продукт в поисковую строку, нажмите кнопку поиска и дождитесь, когда он появится в соседнем окне. <br><br>
    <b>Шаг 2.</b> Укажите объем порции.<br>
В поле в нижней части экрана введите массу продукта. Для получения точной информации, лучше использовать кухонные весы или другую измерительную технику.
    <br><br><b>Шаг 3.</b> Выберете прием пищи.<br>
В нижней панели выберите нужный вам прием пищи: завтрак, обед, или ужин.<br><br>
    <b>Шаг 4.</b> Получение результата. <br>
Нажмите на кнопку «Я поел(а)», а затем перейдите в профиль, чтобы увидеть все ваши приемы пищи.

</div>

<div class="im1">
<img src="{{ url_for('static', filename='im1.png') }}">
</div>
<div class="info2"> <br>
    Обратите внимание, помимо общей калорийности пищи,
    большое значение имеет вхождение в нее тех или иных микроэлементов и
    питательных веществ.
    <br>В частности, если пища богата жирами, то от нее стоит отказаться,
    так как она обладает недостаточной энергетической ценностью и может стать причиной набора
    массы при похудении.
    <br>Высокое содержание белков оптимально для людей занимающихся спортом,
    так как белки способствуют быстрому набору мышечной массы.
    <br>Углеводы преобразуются в энергию,
    требуются для работы организма в качестве топлива, но их объем, также должен быть сбалансирован.
<br><br>
Таким образом, можно подобрать полезное питание исходя из желаемого конечного результата,
    будь то похудение, набор массы или поддержание физической формы.
<br><br>
    <img src="{{ url_for('static', filename='ok.png') }}">
</div>
<div class="im2">
    <img src="{{ url_for('static', filename='im2.png') }}">
</div>
<div class="info3">
    <br>
    <font size="4">Норма калорий в день.</font><br><br>
    Как таковой единой и общепризнанной суточной нормы потребления калорий <i>не существует.</i>
    Согласно рекомендациям Всемирной Организации Здравоохранения "поступающая в организм энергия (в калориях)
    должна быть уравновешена с расходуемой энергией.".<br>
    <br>Таким образом, ваша индивидуальная норма калорий зависит, прежде всего, от характера вашего труда,
    уровня физической активности, пола, возраста и ряда других факторов.<br><br>
Наиболее надежным способом определить индивидуальную потребность в калориях является обычный подсчет
    энергетической ценности употребляемой пищи в течении суток (или нескольких суток).
    <br><br>
    <img src="{{ url_for('static', filename='aright.png') }}">

</div>
<div class="im3">
    <img src="{{ url_for('static', filename='im3.png') }}">
</div>
<div class="info4">
    <br>
    Просто зафиксируйте свой обычный суточный рацион на бумаге.
    Запишите что и в каком количестве вы съели за день.
    <br>
    Непосредственно калорийность можно посчитать как с помощью информации с этикеток продуктов,
    так и с помощью нашего сайта.
    При условии, что вы здоровы и ваш вес при текущем питании сильно не меняется,
    полученные результаты можно условно считать вашей суточной нормой.<br><br>
Чтобы похудеть, необходимо немного снизить ежедневную энергетическую ценность рациона.
    При сохранении прежнего образа жизни возникнет небольшой дефицит калорий, поскольку затраты остануться прежними.<br>
    <br>
    Это и приведет к постепенному сжиганию ваших жировых запасов. Какой именно должен быть дефицит - решать только вам.
    Крайне не советуем резко его увеличивать. Уменьшайте количество потребляемых калорий постепенно и худейте медленно.
    Так вам не придется мучать себя и время от времени срываться.
</div>
<div class="im4">
    <img src="{{ url_for('static', filename='im4.png') }}">
</div>
<div class="info5">
    <br>
    И, конечно же, перед любыми изменениями в диете мы настоятельно рекомендуем вам проконсультироваться
    со своим врачом или квалифицированным диетологом.
    <br><br>
    <img src="{{ url_for('static', filename='smile.png') }}">

</div>
<div class="hidd">
    пасхалка
</div>
{% endblock %}
